<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h3>Вход в систему</h3>
<form action="/login" method="post">
    <div><label>Имя: <input type="text" name="username"/></label></div>
    <div><label>Пароль: <input type="password" name="password"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="ВОЙТИ!"/></div>
</form>
<a href="/registration">Регистрация нового пользователя</a>
</body>
</html>