<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сообщения</title>
</head>
<body>

<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="ВЫЙТИ">
    </form>
</div>

<div>
    <form method="post">
        <label>Новое сообщение:
            <input type="text" name="text" placeholder="Введите сообщение"/>
            <input type="text" name="tag" placeholder="Тэг"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">ДОБАВИТЬ</button>
        </label>
    </form>
</div>

<div><h3>Список сообщений</h3></div>
<form method="post" action="filter">
    <label>Фильтр:
        <input type="text" name="filter" placeholder="Тэг">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Найти</button>
    </label>
</form>

{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}

</body>
</html>